---
layout: page
title: 分类
---
<h2 class="orange">思考</h2>
<ul>{% for post in site.categories.thoughts %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">经历</h2>
<ul>{% for post in site.categories.experience %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">新闻</h2>
<ul>{% for post in site.categories.news %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>