---
layout: page
title: 标签
---
<h2 class="orange">生活</h2>
<ul>{% for post in site.tags.life %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">苹果</h2>
<ul>{% for post in site.tags.apple %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">VEX机器人</h2>
<ul>{% for post in site.tags.vex %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">互联网</h2>
<ul>{% for post in site.tags.internet %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">移动终端</h2>
<ul>{% for post in site.tags.mobile %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">科技</h2>
<ul>{% for post in site.tags.technology %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">工具</h2>
<ul>{% for post in site.tags.tools %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">软件</h2>
<ul>{% for post in site.tags.software %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">硬件</h2>
<ul>{% for post in site.tags.hardware %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
<h2 class="orange">数学</h2>
<ul>{% for post in site.tags.math %}<li><a href="{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>