<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {{ page.title }}{% if page.url != "/index.html" %} - s1n4{% endif %}
    </title>
    <meta name="author" content="s1n4 (Sina Samavati)">
    <meta name="description" content="s1n4's blog">

    <link rel="alternate" href="/atom.xml" type="application/atom+xml">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono">
    <link rel="stylesheet" href="http://coderwall.com/stylesheets/jquery.coderwall.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">s1n4 (Sina Samavati)</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h2>{{ page.title }}</h2>
        </div>
        <div class="row">
          <div class="span9">
            {{ content }}
          </div>
          <div class="span3">
            {% include about %}
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="row">
          <div class="span12">
            <p>Have project? Need help? Anything else?
              feel free to <a href="mailto:contact@s1n4.com?subject=hey">contact</a> me.</p>
            <p>© 2012 Sina Samavati</p>
          </div>
      </footer>
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/applications.js"></script>
    <script src="http://coderwall.com/javascripts/jquery.coderwall.js"></script>

  </body>
</html>
