<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} - 杜顺帆的个人博客</title>
    <a href="https://github.com/Perrydu/Perry"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://pic.yupoo.com/perrydu/Ce5W9UMv/duiIc.png" alt="Fork me on GitHub" /></a>
    <p><a href="/" class="blue">首页</a> <a href="/about.html" class="blue">关于我</a> <a href="/categories.html" class="blue">分类</a> <a href="/tags.html" class="blue">标签</a> <a href="/project.html" class="blue">项目</a> <a href="/place.html" class="blue">足迹</a> <a href="/board.html" class="blue">留言板</a> <a href="/links.html" class="blue">友链</a></p>
    <hr />
    <h1 class="green">{{ page.title }}</h1>
    <p>{{ page.date | date:"%Y年%m月%d日" }}</p>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34491513-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <a href="https://github.com/Perrydu/Perry"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://pic.yupoo.com/perrydu/Ce5W9UMv/duiIc.png" alt="Fork me on GitHub" /></a>
  </head>
  <body>
    {{ content }}
    <hr />
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'dushunfan'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <hr />
    <p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
    <h3><a href="/" class="blue">返回首页</a></h3>
    <a href="https://github.com/Perrydu/Perry"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://pic.yupoo.com/perrydu/Ce5W9UMv/duiIc.png" alt="Fork me on GitHub" /></a>
  </body>
</html>