---
layout: default
---

<div class="post">
  {{ content }}

  <div class="date">
    <span class="icon-calendar"></span>
    <i>{{ page.date | date_to_string }}</i>
  </div>
</div>

<div class="pager">
  {% if page.previous.url %}
  <li class="previous">
    <a href="{{ page.previous.url }}" rel="tooltip" title="Previous">
      {{ page.previous.title }}
    </a>
  </li>
  {% endif %}
  {% if page.next.url %}
  <li class="next">
    <a href="{{ page.next.url }}" rel="tooltip" title="Next">
      {{ page.next.title }}
    </a>
  </li>
  {% endif %}
</div>

<hr>

{% include disqus %}
